doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/core.css')
    body
        header

        .main
            h1 Here we go

        script(src='/js/blah.js')